<table [formGroup]="postForm">
  <tbody>
    <tr>
      <td>Title</td>
      <td><input type="text" formControlName="title" /></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="description" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="postData()">Submit</button></td>
    </tr>
    <tr>
      <td>{{ msg }}</td>
    </tr>
  </tbody>
</table>
<table [formGroup]="editForm">
  <tbody>
    <tr>
      <td>...{{ currentPostId }}</td>
    </tr>
    <tr>
      <td>Title</td>
      <td><input type="text" formControlName="title" /></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="description" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="editData()">Submit</button></td>
    </tr>
    <tr>
      <td>{{ msg_ }}</td>
    </tr>
  </tbody>
</table>

<ul>
  <li *ngFor="let x of posts">
    <h4>{{ x.title }}</h4>
    <p>{{ x.description }}</p>
    <p>{{ x.date }}</p>
    <a href="#" (click)="setPost(x)">Edit</a> **
    <a href="#" (click)="deletePost(x._id)">Delete</a>
  </li>
</ul>
